.container{
    display: flex;
    align-items: center;
    position: fixed;
    top: 5%;
    left:200px;
    cursor: pointer;
    color: #126E82;
    text-decoration: none;
}

.container:hover{
    color: #159bb9;
}