.bloglist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:3rem 3rem;
    
}

@media (max-width: 990px) { 
  .bloglist{
    grid-template-columns: 1fr;
  }
 }



.card {
    
    cursor: pointer;
    
  }


.content {
    background: #fff;
    box-shadow: 0px 0px 1.5px 1.5px rgba(0,0,0,0.05);
    margin: 0;
    position: relative;
    top: -10px;
    overflow: hidden;
  }

.info {
    padding: 16px;
  }

.info h4 {
    margin: 4px 0;
    color:#0a1128
  }

.info p {
    margin: 0;
    color: rgb(55, 65, 81);
    font-size: 1rem;
  }

.actions {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;

    a {
      color: #fff;
      background: #126E82;
      padding: 8px 16px;
      text-decoration: none;
      font-size: 1rem;
    }
    
  }


 

    