.recentPosts{
    margin-top: 3rem;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;


    .heading{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0.5rem;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    }

    .recentPost {
        display: grid;
        grid-template-columns: 1fr 7fr;
        margin-bottom: 0.3rem;
        align-items: center;
        cursor: pointer;

        .imgContainer{
            padding: 1rem;
        }

        .bannerimage{
            border-radius: 50%;
            object-fit: cover;
            width: 80px;
            height: 80px;
        }

        .label{
            font-weight: 600;
        }
    }

    .recentPost:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
    
}

@media (max-width: 720px) { 

    .recentPosts{
        .recentPost{
            grid-template-columns: 1fr 2fr;
        }
    }

  
 }
