
.blogheader{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

  .titlex {
    font-size: 5rem;
    margin: 0.5rem 0;
    color:#132C33
  }

  .postdetails{
    background: rgba( 18, 110, 130, 0.05 );

backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color:#464646;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    

    .blogauthor{
      grid-column: span 2;
    }

    span{
      font-weight: 600;
      font-size: 1.5rem;
      color: #159bb9;
    }

    .socials{
      
      justify-content: end;

      .ig {
        color:#bc2a8d;
      }
      .fb {
        color:#4267B2;
      }
      .tw {
        color:#00acee;
      }
      
    }

   
  }

  p {
    font-size: 1.2rem;
  }
  .date{
    padding: 10px 10px;
    margin-top: 6px;
    font-size: 1rem;
    font-weight: 600;

    span {
      color: #126E82;
      font-weight: 700;
    }
  }

}

.banner {
  width:99.5vw;
  position:relative;
  left: calc(-50vw + 50%);
  margin:0;
  padding:3rem 0;
}

.content{
  font-size: 1rem;

  a{
    text-decoration: none;
    color: #159bb9;
  }
}

.tag{
  h4 {
    color:black;
    margin: 0;
    padding:0.5rem 0;
    font-size: 1.3rem;

  }
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color:rgb(59, 59, 59);
  background-color: #D8E3E7;
  visibility: hidden;
}

@media (max-width: 990px) { 
  
  .blogheader{
    max-width: 90%;
  
    .titlex {
      font-size: 3.5rem;
    }

    .postdetails{
      grid-template-columns: 1fr;
      
    }

    p{
      font-size: 1.3rem;
    }
  

 }

 .banner {
  width:100vw;
}
.content{
  font-size: 1.1rem;

}

}